.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 888px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyText {
  font-size: 24px;
  color: #475467;
  text-align: center;
  width: 700px;
}
