.wrapper {
  position: relative;
}

.container {
  position: sticky;
  top: -100px;
  max-height: max-content;
  height: 100%;
  width: 100px;
  padding-top: 10px;
  z-index: 1;
  margin-bottom: auto;
}
