.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.empty {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.img {
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #101828;
}

.text {
  font-size: 20px;
  margin-bottom: 20px;
  color: #475467;
  text-align: center;
}

.btn {
  padding: 16px 32px;
  width: auto;
}
