.container {
  border-radius: 20px;
  padding: 40px;
  width: 982px;
  height: 720px;
  overflow-y: auto;
  background-color: #fff;
  position: relative;
}

.modalCloseBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCloseIcon {
  stroke: #101828;
  width: 32px;
  height: 32px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 10px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  width: 526px;
  gap: 16px;
  margin-bottom: 16px;
}

.star {
  fill: #ffc531;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
  display: flex;
  align-items: center;
}

.locationWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.locationIcon {
  width: 16px;
  height: 16px;
  stroke: #101828;
  fill: none;
}

.location {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin-bottom: 24px;
}

.imgWrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.camperImage {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.description {
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.titlesWrapper {
  display: flex;
  gap: 40px;
  padding-bottom: 24px;
  border-bottom: solid 1px rgba(16, 24, 40, 0.2);
  margin-bottom: 44px;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.subtitle:hover,
.subtitle:focus,
.subtitle:active {
  color: #d84343;
}

.infoWrapper {
  display: flex;
  /* justify-content: space-between; */
  gap: 24px;
}
